@charset "UTF-8";
@font-face {
  font-family: 'blogger_sansbold_italic';
  src: url("fonts/blogger_sans-bold_italic-webfont.woff2") format("woff2"), url("fonts/blogger_sans-bold_italic-webfont.woff") format("woff"), url("fonts/blogger_sans-bold_italic-webfont.ttf") format("truetype"), url("fonts/blogger_sans-bold_italic-webfont.svg#blogger_sansbold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'blogger_sansbold';
  src: url("fonts/blogger_sans-bold-webfont.woff2") format("woff2"), url("fonts/blogger_sans-bold-webfont.woff") format("woff"), url("fonts/blogger_sans-bold-webfont.ttf") format("truetype"), url("fonts/blogger_sans-bold-webfont.svg#blogger_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'blogger_sansitalic';
  src: url("fonts/blogger_sans-italic-webfont.woff2") format("woff2"), url("fonts/blogger_sans-italic-webfont.woff") format("woff"), url("fonts/blogger_sans-italic-webfont.ttf") format("truetype"), url("fonts/blogger_sans-italic-webfont.svg#blogger_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'blogger_sanslight_italic';
  src: url("fonts/blogger_sans-light_italic-webfont.woff2") format("woff2"), url("fonts/blogger_sans-light_italic-webfont.woff") format("woff"), url("fonts/blogger_sans-light_italic-webfont.ttf") format("truetype"), url("fonts/blogger_sans-light_italic-webfont.svg#blogger_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'blogger_sanslight';
  src: url("fonts/blogger_sans-light-webfont.woff2") format("woff2"), url("fonts/blogger_sans-light-webfont.woff") format("woff"), url("fonts/blogger_sans-light-webfont.ttf") format("truetype"), url("fonts/blogger_sans-light-webfont.svg#blogger_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'blogger_sansmedium_italic';
  src: url("fonts/blogger_sans-medium_italic-webfont.woff2") format("woff2"), url("fonts/blogger_sans-medium_italic-webfont.woff") format("woff"), url("fonts/blogger_sans-medium_italic-webfont.ttf") format("truetype"), url("fonts/blogger_sans-medium_italic-webfont.svg#blogger_sansmedium_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'blogger_sansmedium';
  src: url("fonts/blogger_sans-medium-webfont.woff2") format("woff2"), url("fonts/blogger_sans-medium-webfont.woff") format("woff"), url("fonts/blogger_sans-medium-webfont.ttf") format("truetype"), url("fonts/blogger_sans-medium-webfont.svg#blogger_sansmedium") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'blogger_sansregular';
  src: url("fonts/blogger_sans-webfont.woff2") format("woff2"), url("fonts/blogger_sans-webfont.woff") format("woff"), url("fonts/blogger_sans-webfont.ttf") format("truetype"), url("fonts/blogger_sans-webfont.svg#blogger_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: "blogger_sansregular"; }

/*** ---------- Titres ----------- ****/
h1 {
  font-family: "blogger_sansregular";
  background-color: #fff;
  text-align: center;
  margin-top: 0; }

h2 {
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 0.8em; }

/*** ---------- Header ---------- ****/
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 15px;
  background-color: #5f4066;
  /*** ---------- Nav ---------- ****/ }
  header svg {
    fill: #fff;
    width: 20px;
    height: 20px; }
  header #mainLogo img {
    -webkit-animation-name: logoAnimate;
    animation-name: logoAnimate;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }

@-webkit-keyframes logoAnimate {
  0% {
    margin-top: -60px; }
  100% {
    top: 0; } }

@keyframes logoAnimate {
  0% {
    margin-top: -60px; }
  100% {
    top: 0; } }
  header nav ul {
    margin: 0;
    display: none; }
    header nav ul li {
      list-style-type: none; }
      header nav ul li a:link {
        color: #fff;
        text-decoration: none; }
      header nav ul li a:visited {
        color: #fff; }
  header img {
    height: 30px;
    margin: auto; }

/*** ---------- Content ---------- ***/
p {
  font-family: "blogger_sansregular";
  text-align: center;
  line-height: 1.5em; }

a.button {
  border-radius: 25px;
  padding: 15px;
  margin: 25px 15px;
  font-weight: bold;
  font-size: 0.9em; }
  a.button:link {
    text-decoration: none; }
  a.button:hover {
    background-color: rgba(189, 203, 56, 0.8); }
  a.button.primary {
    background-color: #bdcb38; }
  a.button.secondary {
    background-color: #5f4066; }

div.main section.content {
  background-color: #fff;
  text-align: center;
  padding: 25px 15px; }
  div.main section.content img#logoRepairRobot {
    background-color: #5f4066;
    border-radius: 20px;
    height: 200px; }
  div.main section.content h1 {
    font-size: 1.3em; }
  div.main section.content a.button {
    color: #585858; }

div.main aside.repairSundays {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #bdcb38;
  padding: 25px 15px;
  text-align: center; }
  div.main aside.repairSundays #repairSundayLogo svg {
    fill: #fff;
    height: 50px;
    width: 80px; }
  div.main aside.repairSundays h2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    margin-bottom: 0;
    font-family: "blogger_sansregular";
    color: #FFF; }
  div.main aside.repairSundays a.button {
    color: #fff; }
  div.main aside.repairSundays article.hifiRepair {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px 15px;
    margin: 30px 50px; }
    div.main aside.repairSundays article.hifiRepair h3 {
      margin: 0;
      font-size: 1.1em; }
    div.main aside.repairSundays article.hifiRepair svg {
      fill: currentColor;
      width: 40px;
      opacity: 0.5; }
    div.main aside.repairSundays article.hifiRepair .info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }

section.nosAtouts {
  padding: 25px 15px;
  background-color: #5f4066;
  color: #fff; }
  section.nosAtouts ul {
    margin: 0;
    padding: 0 10px; }
    section.nosAtouts ul > li {
      margin-bottom: 12px;
      list-style-type: none; }
      section.nosAtouts ul > li::before {
        content: "►";
        color: #bdcb38;
        line-height: 1.5em;
        left: 4px; }
  section.nosAtouts a.moreInfo::before {
    content: "► ► ► ";
    color: #bdcb38;
    padding: 0 10px; }
  section.nosAtouts a.moreInfo:link {
    color: #fff;
    text-decoration: none; }
  section.nosAtouts a.moreInfo:visited {
    color: #fff; }

footer {
  background-color: #fff;
  font-style: normal;
  color: #5f4066;
  font-weight: bold;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer::after {
    content: "SAVE HUMANS";
    text-align: center;
    height: 20px;
    background-color: #5f4066;
    color: #fff;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    padding: 8px 5px 5px 5px; }
  footer > * {
    padding: 15px; }
  footer svg {
    fill: #bdcb38;
    width: 18px;
    height: 18px; }
  footer address {
    font-family: "blogger_sansregular";
    color: #5f4066;
    font-style: normal; }
  footer a.tel:link {
    text-decoration: none; }
  footer a.tel:visited {
    color: #5f4066; }

@media screen and (min-width: 887px) {
  .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main aside.repairSundays {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
