@charset "UTF-8";
@font-face {
    font-family: 'blogger_sansbold_italic';
    src: url('fonts/blogger_sans-bold_italic-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-bold_italic-webfont.woff') format('woff'),
         url('fonts/blogger_sans-bold_italic-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-bold_italic-webfont.svg#blogger_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'blogger_sansbold';
    src: url('fonts/blogger_sans-bold-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-bold-webfont.woff') format('woff'),
         url('fonts/blogger_sans-bold-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-bold-webfont.svg#blogger_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'blogger_sansitalic';
    src: url('fonts/blogger_sans-italic-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-italic-webfont.woff') format('woff'),
         url('fonts/blogger_sans-italic-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-italic-webfont.svg#blogger_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'blogger_sanslight_italic';
    src: url('fonts/blogger_sans-light_italic-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-light_italic-webfont.woff') format('woff'),
         url('fonts/blogger_sans-light_italic-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-light_italic-webfont.svg#blogger_sanslight_italic') format('svg');
         font-weight: normal;
         font-style: italic;
}

@font-face {
    font-family: 'blogger_sanslight';
    src: url('fonts/blogger_sans-light-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-light-webfont.woff') format('woff'),
         url('fonts/blogger_sans-light-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-light-webfont.svg#blogger_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blogger_sansmedium_italic';
    src: url('fonts/blogger_sans-medium_italic-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-medium_italic-webfont.woff') format('woff'),
         url('fonts/blogger_sans-medium_italic-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-medium_italic-webfont.svg#blogger_sansmedium_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'blogger_sansmedium';
    src: url('fonts/blogger_sans-medium-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-medium-webfont.woff') format('woff'),
         url('fonts/blogger_sans-medium-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-medium-webfont.svg#blogger_sansmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'blogger_sansregular';
    src: url('fonts/blogger_sans-webfont.woff2') format('woff2'),
         url('fonts/blogger_sans-webfont.woff') format('woff'),
         url('fonts/blogger_sans-webfont.ttf') format('truetype'),
         url('fonts/blogger_sans-webfont.svg#blogger_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$mainFont:'blogger_sansregular';
$contentFont:'Lora',sans-serif;
$primary:rgba(189, 203, 56,1);
$primary-trans:rgba(189, 203, 56,0.8);
$secondary:rgba(95, 64, 102,1);
$secondary-trans:rgba(95, 64, 102,0.8);
$space:25px 15px;

body{
    margin:0;
    padding:0;
    font-family: $mainFont;
    
}
/*** ---------- Titres ----------- ****/
h1 {
    font-family:$mainFont;
    background-color:#fff;
    text-align:center;
    margin-top:0;
}
h2{
    margin:0;
    font-size:1.2em;
    margin-bottom:0.8em;
}


/*** ---------- Header ---------- ****/
header{
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding:$space;
    background-color:$secondary;
    & svg {
        fill: #fff;
        width:20px;
        height:20px;
    }
    #mainLogo img{
        animation-name:logoAnimate;
        animation-duration: 2s;
        @keyframes logoAnimate {
            0% {margin-top:-60px;}
            100% {top:0;}
        }
    }
    /*** ---------- Nav ---------- ****/
    
    nav{
        ul{
            margin:0;
            display:none;
            li{
                list-style-type: none;
                & a {
                    &:link{
                        color:#fff;
                        text-decoration: none;
                    }
                    &:active{}
                    &:hover{}
                    &:visited{
                        color:#fff;
                    }
                }
            }
        }
    }
    img{
        height:30px;
        margin:auto;
    }
    
}
/*** ---------- Content ---------- ***/

p{
    font-family: $mainFont;
    text-align: center;
    line-height:1.5em;
}

a.button{
    border-radius:25px;
    padding:15px;
    margin:$space;
    font-weight:bold;
    font-size:0.9em;
    &:link{
        text-decoration: none;
    }
    &:active{}
    &:hover{
        background-color:$primary-trans;
    }
    &:visited{
    }
    &.primary{
        background-color: $primary;
    }
    &.secondary {
        background-color: $secondary;
    }
}
div.main{
    
    section.content{
        background-color:#fff;
        text-align:center;
        padding:$space;
    
        img#logoRepairRobot{
            background-color:$secondary;
            border-radius:20px;
            height:200px;
        }
        h1{
            font-size:1.3em;
        }
        
        a.button{
            color:#585858;
        }
    }
    
    aside.repairSundays{
        justify-content: flex-end;
        background-color:$primary;
        padding:$space;
        text-align:center;

        #repairSundayLogo {
            svg{
                fill:#fff;
                height:50px;
                width:80px;
            }    
        }
        h2{
            display:flex;
            justify-content: center;
            align-content:space-around;
            margin-bottom:0;
            font-family: $mainFont;
            color:#FFF;
        }
        a.button{
            color:#fff;
    
        }
        article.hifiRepair{
            background-color:rgba(255,255,255,0.5);
            padding: $space;
            margin:30px 50px;
           
            h3{
                margin:0;
                font-size:1.1em;
            }
            svg {
                fill: currentColor;
                width:40px;
                opacity:0.5;
            }
            .info{
                display:flex;
                align-items: center;
                justify-content: space-between;
            }
        }   
    }
}
section.nosAtouts{
    padding:$space;
    background-color:$secondary;
    color:#fff;

    & ul{
        margin:0;
        padding:0 10px;
        >li{
            margin-bottom:12px;
            list-style-type: none;
            &::before{
                content:"►";
                color:$primary;
                line-height:1.5em;
                left:4px;
            }
        }
    }
    a.moreInfo{
        &::before{
        content:"► ► ► ";
        color:$primary;
        padding:0 10px;
        
        }
        &:link{
            color:#fff;
            text-decoration: none;                   
        }
        &:active{}
        &:hover{}
        &:visited{
            color:#fff;
        }
    }
}
footer{
    background-color:#fff;
    font-style:normal;
    color:$secondary;
    font-weight:bold;
    height:80px;
    display:flex;
    align-items: top;
    justify-content:space-between;
    &::after{
        content:"SAVE HUMANS";
        text-align:center;
        height:20px;
        background-color:$secondary;
        color:#fff;
        width:100%;
        display:block;
        position:fixed;
        bottom:0;
        padding:8px 5px 5px 5px;
    }

    &>*{
       padding:15px;
    }
    svg {
        fill:$primary;
        width:18px;
        height:18px;
    }
    address{
        font-family: $mainFont;
        color:$secondary;      
        font-style:normal;  
    }
    a.tel{
        &:link{
            text-decoration:none;
        }
        &:active{

        }
        &:visited{
            color:$secondary;
        }
        &:hover{

        }
    } 
}


@media screen and (min-width: 887px) {
    .main{
       display:flex;
       justify-content: space-between;
       aside.repairSundays{
           align-self: flex-end;
           flex-wrap:wrap;
       }
    }
}